<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd"> 
<web-app> 
	<display-name>cip-cirip</display-name> 
	
	<!-- USER --> <!-- USER --> <!-- USER -->
	
	<servlet> 
		<servlet-name>createUser</servlet-name> 
		<servlet-class>services.servlets.user.Create</servlet-class> 
	</servlet> 
	
	<servlet> 
		<servlet-name>deleteUser</servlet-name> 
		<servlet-class>services.servlets.user.Delete</servlet-class> 
	</servlet> 
	
	<servlet> 
		<servlet-name>loginUser</servlet-name> 
		<servlet-class>services.servlets.user.Login</servlet-class> 
	</servlet> 
	
	<servlet> 
		<servlet-name>logoutUser</servlet-name> 
		<servlet-class>services.servlets.user.Logout</servlet-class> 
	</servlet> 
	
	<!-- FRIEND --> <!-- FRIEND --> <!-- FRIEND -->
	
	<servlet> 
		<servlet-name>addFriend</servlet-name> 
		<servlet-class>services.servlets.friends.Add</servlet-class> 
	</servlet> 
	
	<servlet> 
		<servlet-name>removeFriend</servlet-name> 
		<servlet-class>services.servlets.friends.Remove</servlet-class> 
	</servlet>
	
	<servlet> 
		<servlet-name>getFriends</servlet-name> 
		<servlet-class>services.servlets.friends.Get</servlet-class> 
	</servlet>
	
	<!-- COMMENT --> <!-- COMMENT --> <!-- COMMENT -->
	
	<servlet> 
		<servlet-name>addComment</servlet-name> 
		<servlet-class>services.servlets.comments.Add</servlet-class> 
	</servlet> 
	
	<servlet> 
		<servlet-name>getUserComments</servlet-name> 
		<servlet-class>services.servlets.comments.GetForUser</servlet-class> 
	</servlet>
	
	<servlet> 
		<servlet-name>getFriendsComments</servlet-name> 
		<servlet-class>services.servlets.comments.GetForFriends</servlet-class> 
	</servlet> 
		 
	
	
	
	
	
	
	
	
	<!-- USER --> <!-- USER --> <!-- USER -->
	
	<servlet-mapping> 
		<servlet-name>createUser</servlet-name> 
		<url-pattern>/user/create</url-pattern> 
	</servlet-mapping> 
	
	<servlet-mapping> 
		<servlet-name>deleteUser</servlet-name> 
		<url-pattern>/user/delete</url-pattern> 
	</servlet-mapping> 
	
	<servlet-mapping> 
		<servlet-name>loginUser</servlet-name> 
		<url-pattern>/user/login</url-pattern> 
	</servlet-mapping> 
	
	<servlet-mapping> 
		<servlet-name>logoutUser</servlet-name> 
		<url-pattern>/user/logout</url-pattern> 
	</servlet-mapping> 
	
	<!-- FRIEND --> <!-- FRIEND --> <!-- FRIEND -->
	
	<servlet-mapping> 
		<servlet-name>addFriend</servlet-name> 
		<url-pattern>/friends/add</url-pattern> 
	</servlet-mapping> 
	
	<servlet-mapping> 
		<servlet-name>removeFriend</servlet-name> 
		<url-pattern>/friends/remove</url-pattern> 
	</servlet-mapping>
	
	<servlet-mapping> 
		<servlet-name>getFriends</servlet-name> 
		<url-pattern>/friends/get</url-pattern> 
	</servlet-mapping>
	
	<!-- COMMENT --> <!-- COMMENT --> <!-- COMMENT -->
	
	<servlet-mapping> 
		<servlet-name>addComment</servlet-name> 
		<url-pattern>/comments/add</url-pattern> 
	</servlet-mapping> 
	
	<servlet-mapping> 
		<servlet-name>getUserComments</servlet-name> 
		<url-pattern>/comments/get-for-user</url-pattern> 
	</servlet-mapping> 
	
	<servlet-mapping> 
		<servlet-name>getFriendsComments</servlet-name> 
		<url-pattern>/comments/get-for-friends</url-pattern> 
	</servlet-mapping> 
	
</web-app>