body {
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: #fff;
}

.img-logo {
	max-width: 200px;
	margin: 0 auto;
	margin-top: -15px;
}

.main-heading {
	text-align: center;
	padding-bottom: 10px;
}

.comment-zone {
	max-width: 600px;
	padding: 15px;
	margin: 0 auto;
}

.comment {
	max-width: 600px;	
	margin: 20px auto;		
}

.user-url {
	
}

.hash-url:link, .hash-url:visited {	
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.hash-url:hover, .hash-url:active {
	text-docation: none;
}

.hash-url {
	text-color: black;
}

.time {
	font-size: 0.8em;
}